@import '../../../styles/Settings/all';
@import '../../../styles/Tools/all';

.app_footer {
    background-color: $color-brand-grey;
    color: $color-light-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 5rem;
    padding: $grid-gutter;
    width: 100vw;
    figure {
        width: 7rem;
        padding: $grid-gutter/2;
        img {
            max-height: 100%;
        }
    }
}
