label {
    display: block;
}

input {
    border: .0625rem solid darken($color-medium-grey, 15%);
    border-radius: .375rem;
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    margin: $grid-gutter/3 0;
    width: 18.75rem;
    max-width: 100%;
    padding: .5rem 1rem;
    transition: transform .05s;
    &:active,
    &:focus {
        transform: scale(1.02);
    }
    &[type="checkbox"] {
        &:active {
            transform: scale(.9);
        }
    }
}

button {
    background-color: $color-light-grey;
    border: none;
    border-radius: .375rem;
    box-shadow: .125rem .125rem 0 darken($color-medium-grey, 15%);
    font-size: 1.2rem;
    font-weight: 400;
    margin: $grid-gutter/3 0;
    padding: .5rem 1rem;
    transition: transform .1s;
    &:active {
        transform: scale(.975);
    }
    &.primary {
        background-color: $color-brand-light-blue;
        box-shadow: .125rem .125rem 0 darken($color-brand-light-blue, 20%);
        color: #fff;
    }
    &.alert{
        background-color: $color-brand-yellow;
        box-shadow: .125rem .125rem 0 darken($color-brand-yellow, 20%);
    }
}

select {
    border: .0625rem solid darken($color-medium-grey, 15%);
    box-shadow: .125rem .125rem 0 darken($color-medium-grey, 15%);
    padding: .5rem 1rem;
    margin: $grid-gutter/3 0 $grid-gutter/2;
    transition: transform .05s;
    height: 2.7rem;
    width: 18.75rem;
    max-width: 100%;
    &:active,
    &:focus {
        transform: scale(1.02);
    }
}