p {
    font-size: 1.1rem;
    line-height: 1.6em;
    margin-bottom: $grid-gutter;
    &.narrow {
        @include media-bp-min(tablet) {
            margin-left: auto;
            margin-right: auto;
            width: 70%;
        }
    }
}